<h2><%= t("admin.excel_to_csv.menu.link")%></h2>
<%= form_with url: {action: "create"} do |form| %>
  <%= form.file_field :excel, {label: t("admin.excel_to_csv.file_field")} %>
  <%= form.submit t("admin.excel_to_csv.submit"), data: { disable_with: false } %>
<% end %>

<% if @errors %>
  <h2>Aviso</h2>
  <span>Las siguientes filas carecen de DNI:</span>
  <ul class="menu simple">
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>